.example {
  margin-bottom: 30px;

  background-color: #fff;

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 0;

    font-size: 24px;
  }

  &__body {
    border: 1px solid #eaecef;
  }

  &__view {
    padding: 20px;
  }

  &__code {
    padding: 20px;

    background-color: #fafafa;

    pre {
      margin: 0;
      padding: 0;
    }
  }
}
