.example-icon {
  height: calc(100% - 20px);
  margin-bottom: 20px;

  cursor: pointer;

  &:hover {
    .v-icon {
      stroke: #206bc4;
    }
  }

  .v-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  .v-card__title {
    padding: 0 15px;

    text-align: center;
  }
}
