.header-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
  }

  li {

  }

  a {
    display: block;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;

    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;

    &.router-link-active,
    &:hover {
      border-bottom-color: #3eaf7c;
    }
  }
}
