.logo {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;

  text-decoration: none;

  &__image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  &__name {
    color: #2c3e50;
    font-weight: 500;
    font-size: 21px;
  }
}
